.movie-details-layout {
  display: flex;
}
.movie-details-card {
  max-width: 70%;
  margin: auto;
}
.img-input {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.big-input {
  padding: 2rem;
  margin: 0 2rem 2rem 2rem;
  resize: none;
}
.check-btn {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
.check-btn .btn-disabled {
  background-color: #a18df0;
  cursor: not-allowed;
}
.btn-disabled:hover {
  box-shadow: none;
}

.check {
  display: flex;
  flex-direction: row;
}
.check * {
  place-self: center;
}
.checkbox {
  place-self: center;
  justify-content: center;
  align-items: center;
}
