.my-move-layout {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.tabs {
  margin: auto;
  display: flex;
  max-width: 40%;
}
.tab {
  background: rgb(137, 78, 240);
  padding: 0.6rem 1rem;
  flex: 1;
  border: solid 1px rgba(124, 58, 237, 1);
  opacity: 0.6;
  transition: all 0.2s ease;
  p {
    margin: 0;
  }
}
.tab:first-child {
  border-radius: 10px 0 0 10px;
}
.tab:last-child {
  border-radius: 0 10px 10px 0;
}
.tab:hover {
  cursor: pointer;
  box-shadow: inset 0 0 12px rgba(230, 227, 227, 0.4);
  background: rgb(118, 61, 209);
}
.tab.active {
  background: rgb(118, 61, 209);
  opacity: 1;
  box-shadow: inset 0 0 12px rgba(230, 227, 227, 0.4);
}
.my-movies-width {
  margin: auto;
  width: 70%;
}
.movies-layout-watchlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.movie-card-watchlist {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2px 5px;
  border-radius: 6px;
  img {
    place-self: center;
  }
}
.no-margin * {
  margin: 0;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.comment {
  resize: none;
  width: 100%;
  height: 10rem;
  margin-top: 2rem;
}
.box-padding {
  padding: 4rem;
}
