body {
  margin: 0;
  background-color: rgb(249, 239, 252);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navlink {
  text-decoration: none;
  color: rgb(14, 12, 12);
  font-size: 20px;
}

input {
  padding: 0.5rem;
  border-radius: 20px;
}
button {
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgba(124, 58, 237, 1);
  color: whitesmoke;
  border: 1px solid rgba(78, 77, 77, 0.4);
}
button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}
